@import "tailwindcss";

body {
  font-family: sans-serif;
  background: #f9fafb;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}
